$black: #343434;
$gray: #6a6a6a;
$red: #f53a21;

.demonlist {
  padding: 32px;

  .demon {
    border-radius: 10px;
    height: 200px;
    color: $black;
    cursor: pointer;

    + .demon {
      margin-top: 30px;
    }

    .image {
        img {
            display: flex;
            justify-content: center;
            border-radius: 5px;
        }
    }

    .description {
      padding-left: 40px;
      .name {
        font-size: xx-large;

        .position {
          color: $gray;
        }
      }

      .publisher {
        padding-top: 20px;

        &.banned {
          color: $red;
        }
      }

      .verifier {
        padding-top: 10px;
        color: $gray;

        .nickname {
          color: $black;

          &.banned {
            color: $red;
          }
        }
      }
    }
  }
}
